body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family:Garamond, Georgia, serif;
}

#container {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 150px);
  padding: 50px;
}

#basicInfo{
  grid-column: 1/2;
  grid-row: 1/2;
  margin-right: 50px;
}

#workExperience {
  grid-column: 2/3;
  grid-row: 1/4;
  line-height: 0.5;
}

#education {
  grid-column: 1/2;
  grid-row: 2/3;
  line-height: 0.5;
  margin-right: 50px;
  margin-top: 50px;
}

#cvContainer {
  grid-column: 3;
  grid-row: 1/5;
  padding: 20px;
  border: 1px solid #b1adad;
  box-shadow: -2px 4px 10px 3px rgba(0, 0, 255, .2);
}

#name {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  font-size: 30px;
  font-weight: 700;
}

#email-phone {
  display: flex;
  justify-content: center;
  margin-top: -7%;
  font-size: 10px;
}


#educ-section {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50px);
}

#school-name {
  grid-column: 1;
  grid-row: 1;
  font-weight: 700;
}

#study-title {
  grid-column: 1;
  grid-row: 2;
  margin-top: -16px;
  font-style: italic;
  font-size:12px;
}

#study-dates {
  grid-column: 2;
  grid-row: 1;
  font-size: 12px;
  display: flex;
  justify-self: right;
  margin-top: 15px;
}

#work-section {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 120px);
}

#experience-one {
  grid-column: 1/3;
  grid-row: 1;
}

#experience-two {
  grid-column: 1/3;
  grid-row: 2;
}

#experience-one, #experience-two {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50px);
}

.position {
  grid-column: 1;
  grid-row: 1;
  font-weight: 700;
}

.exp-dates {
  grid-column: 2;
  grid-row: 1;
  font-size: 12px;
  display: flex;
  justify-self: right;
}

.company {
  grid-column: 1;
  grid-row: 2;
  margin-top: -27px;
  font-style: italic;
  font-size:12px;
}

.description {
  grid-column: 1/3;
  grid-row: 2;
  margin-top: -4px;
}